.stuffie
{
    padding-bottom: 60px;
    background-color: darkgray;
    position: absolute;
    height: 20%;
    text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
}
#hiyaboss{
background-color:red;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
h1{
    margin-top:2%;
    font-size: 500%;
}
#explanation{
padding-left: 5%;
    padding-right: 5%;
}
#main{
 font-size: 500%;
}

navbar navbar-dark bg-dark{
    margin-top:500px;
}
#hi{
    text-align: center; color:white;margin-top:10vh;
}
